.App {
  padding: 1%;
  width: auto;
  margin-left: 60px;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  .App {
    width: max-content;
  }
}

.clickable :hover {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@page {
  size: landscape;
  margin: 1%;
}

@media print {
  body {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .hide-in-print-preview {
    display: none;
  }
}