@font-face {
    font-family: 'Didact Gothic';
    src: local('Didact Gothic'), url(../public/assets/fonts/didact-gothic.ttf) format('truetype');
}

html, body {
    font-family: 'Didact Gothic', sans-serif;
}