@font-face {
    font-family: 'Didact Gothic';
    /* ts-ignore */
    src: local('Didact Gothic'), url(../public/assets/fonts/didact-gothic.ttf) format('truetype');
}

html {
    font-family: 'Didact Gothic', serif !important;
}